<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5d86898b-5af0-46ce-be65-d8185fcc113c/resourceGroups/lucky/providers/Microsoft.Web/sites/TodoApi2024NguyenHuuQuan</ResourceId>
    <ResourceGroup>lucky</ResourceGroup>
    <ApiResourceId>/subscriptions/5d86898b-5af0-46ce-be65-d8185fcc113c/resourceGroups/lucky/providers/Microsoft.ApiManagement/service/TodoApinhq/apis/TodoApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://todoapi2024nguyenhuuquan.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>47b70b32-8b59-4742-9dd5-88284d839052</ProjectGuid>
    <MSDeployServiceURL>todoapi2024nguyenhuuquan.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TodoApi2024NguyenHuuQuan</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$TodoApi2024NguyenHuuQuan</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>